*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --white-color: #fff;
    --bg-gray: #f6f7f8;
    --lg-font: 'Roboto', sans-serif;;
    --sm-font: 'Roboto', sans-serif;
    --dark-blue-color: #6c63ff;
    --dark-grey-color: #606060;
    --black-color: #000;
    --bs-btn-color: #c6cfe7;

}
h2, h3{
    color: var(--black-color)
}
h3{
    font-size: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body{
    font-family: var(--sm-font);
    color: var(--dark-grey-color);
    font-size: 16px;
}
h2{
    font-family: 'Roboto', sans-serif;
    //font-weight: 400;
}
// Header Section
nav.navbar {
    &.fixed-top {
        background-color: rgba(255, 255, 255, 1);
        padding: 10px 0;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.16);
        .navbar-nav {
            .nav-link {
                color: var(--dark-grey-color);
            }
        }
    }
    
    .navbar-brand {
        img {
            max-width: 180px;
        }
    }
    .navbar-nav {
        .nav-link {
            font-weight: 400;
            font-size: 1rem;
            font-family: var(--sm-font);
            //  color: var(--text-color);
            text-transform: uppercase;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            letter-spacing: 2px;
            cursor: pointer;
            &:hover,
            &.active {
                color: var(--dark-blue-color);
            }
            &.active {
             font-weight: 500;
            }
        }
    }
}
@media (max-width: 991.98px) {
    nav.navbar {
        &.fixed-top {
            position: relative;
            padding: 10px 0;
            .navbar-nav {
                .nav-link {
                    color: var(--dark-grey-color);
                }
            }
        }
    }
}
.as {
    background: #fff;
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-toggler {
    border: 0;
    outline: 0;
    &:focus {
        outline: 0;
        box-shadow: none
    }
}
// Slider section
.slider {
    padding: 0;
    .swiper-button-prev,
    .swiper-button-next {
        width: 120px;
        height: 120px;
        background-color: var(--white-color);
        cursor: pointer;
        top: auto;
        bottom: 0px;
    }
    .swiper-button-prev {
        right: 120px;
        left: auto;
        @media (max-width: 767.98px) {
            right: 80px;
        }
    }
    .swiper-button-next {
        right: 0px;
    }
}
.image-caption {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    transform: translateY(calc(-50% - 70px));
    color: #fff;
    z-index: 2;
    .slider-title {
        h2 {
            font-weight: 700;
            font-size: 2.8rem;
            line-height: 3rem;
            transform: translateY(20px);
            text-transform: uppercase;
            transition: all .6s ease-in-out;
            margin-bottom: 2rem;
            color: var(--white-color);
        }
        span {
            font-size: 1.5rem;
        }
    }
}
@media (max-width: 991.98px) {
    .slider {
        .swiper-button-prev,
        .swiper-button-next {
            width: 50px;
            height: 50px;
            &::after {
                font-size: 1rem;
            }
        }
        .swiper-button-prev {
            right: 50px;
        }
        .image-caption {
            display: none;
        }
    }
}
// About Section 
section{
    padding: 6rem 0 7rem 0;
}
.section-title{
    margin-bottom: 40px;
    h2{
        font-size: 36px;
        font-weight: 600;
        color: var(--black-color);
    }
    span{
        font-size: 24px;
        margin-bottom: 0;
        font-weight: 600;
        color: var(--dark-blue-color);
    }
    @media (max-width: 767.98px) { 
        text-align: center;
    }
}
.about{
    
}
.btn{
     background-color: var(--dark-blue-color);
     border-color: var(--dark-blue-color);;
     color: var(--white-color);     
}


// service
.service{
    background-color: #f8f8f8;
    &__inner{
        .service-item{
            margin-bottom: 40px;
            .icon{
                @include circle;
                transition: all .3s ease-out;
            }
            &:hover{
                .icon{
                    margin-left: 20px;
                }
            }
            @media (max-width: 767.98px) { 
                text-align: center;

                .icon{
                    margin-left: auto;
                    margin-right: auto;
                }
                &:hover{
                    .icon{
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                
            }
        }
    }
}

// Product
.product{
    background-color: #f8f8f8;
    &__inner{
        .product-item{
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            .icon{
                @include circle;
                transition: all .3s ease-out;
            }
            // &:hover{
            //     .icon{
            //         margin-left: 20px;
            //     }
            // }
        }
    }
}

// featureSecond 

.featureSecond{
    background-color: #f8f8f8;
    &__inner{
        .featureSecond-list{
            .icon{
                @include circle;
            }
        }
    }
}

// contact 
.contact{
    background-color: #f8f8f8;
}

footer{
    padding: 20px 0;
    
}